@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.responsiveDolar {
  width: 63.8%;
  height: auto;
}

/* Mask */

.mask {
  position: absolute;
  width: 310px;
  height: 310px;
  left: 63vw;
  top: 33vh;
}

/* Form Block */

/* Auto layout */
.auto-layout-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  gap: 24px;

  width: 360px;
  height: 87px;
}

/* Inside auto layout */

.inside-auto-layout {
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Auto layout Input */

.auto-layout-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 168px;
  height: 87px;
}

/* dp-shadow/small */

.dp-shadow-small {
  filter: drop-shadow(0px 8px 4px rgba(13, 17, 27, 0.08));
}

/* Auto layout Radio */

.auto-layout-radio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 192px;
  height: 24px;
}

.radio-wrapper {
  margin-bottom: 20px;
}

.radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-checkmark {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 2px solid #008B57;
  border-radius: 50%;
}

.radio-checkmark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #008B57;
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked~.radio-checkmark:before {
  transform: translate(-50%, -50%) scale(1);
}

/* Button */

button:not(:disabled) {
  background-color: #008B57;
}

/* Double Arrow */

.double-arrow {
  position: absolute;
  width: 20px;
  height: 16.94px;
  left: 2px;
  top: 3.5px;
}

/* disabled */

button:disabled {
  background: #8C9CAD;
  /* Brand Colors/Primary */

  border: 1px solid #008B57;
}